.carousel {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    overflow: hidden;
    width: 900px;
    position: relative;
}

.images_carousel {
    display: flex;
    width: 100%;
}

#prev_Button {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 40px;
    cursor: pointer;
    left: 10px;
    color: #b0b0b0;
}

#prev_Button:hover {
    color: #ededed;
}

#next_Button {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 40px;
    cursor: pointer;
    right: 10px;
    color: #b0b0b0;
}

#next_Button:hover {
    color: #ededed;
}
