.form_create > div {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.form_label {
    text-align: right;
    padding: 15px;
}

.form_input {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
