.form_create {
    width: 700px;
    background-color: lightgray;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    margin: 15px;
}

.form_create > h1 {
    text-align: center;
}

.form_create > table {
    width: 100%;
}

.form_create > div {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.form_label {
    width: 25%;
    text-align: right;
    padding: 15px;
}

.form_input {
    width: 75%;
    padding: 15px;
}

.form_input > input {
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}

.form_input > textarea {
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}

.form_create button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    cursor: pointer;
    background-color: #A8A8A8;
    border-radius: 5px;
}


.form_create button[type="submit"]:hover {
    background-color: #979797;
}
