header {
    background-color: #ff6e40;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header nav {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

header nav a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}

header nav form {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

/*Les bouttons*/
#site-search {
    font-size: 70%;
    size: 100%;
    border: none;
    border-radius: 0px;
}
#button-search {
    font-size: 100%;
    border: none;
    background-color: white;
    border-radius: 0px;
}
#user {
    font-size: 125%;
    text-align: right;

}


header nav a:hover {
    color: black;
}