header {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    background-color: #ff6e40;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 40px;
}

nav a:hover {
    text-decoration: none;
    color: black;
}

.boutton_menu {
    margin-left: 0px;
    padding-left: 10px;
    border-left: 3px solid #dddddd;
}

.boutton_menu + ul {
    display: none;
    list-style: none;
}

.boutton_menu:hover + ul {
    display: list-item;
}

.boutton_menu + ul:hover {
    display: list-item;
}

.boutton_menu + ul > li:hover {
    background-color: lightpink;
}
