header {
    background-color: #ec4c04;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header nav {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #ffffff;
    justify-content: center;
    flex-shrink: 1;
    width: ;
}

#user {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    vertical-align: central;
}

header nav a:hover {
    color: darkblue;
    
}