header {
    background-color: #ff6e40;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.accueil {
    background-image: url("../../img/favicon.png");
}

.register-space {
    background-color: white;
    display: block;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 400px;
    margin-left: 60em;
    margin-top: 15em;
    border-radius: 1em;

}
#signup-username , #signup-password {
    border: none;
    border-radius: 2px;
    background-color: whitesmoke;
    padding: 1em;
    margin: 5px;

} 

#signup-submit {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    padding: 1em;
    border-radius: 3px;
    background-color: #0aaf39;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
}

#sign-in {
    color: #fff;
    padding: 5px;
    background-color: #ffc13b;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
    border-radius: 10px;
    
}

a {
    text-decoration: none;
    color: white;
}