header {
    background-color: #ff6e40;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header nav a {
    display: right;
    text-decoration: none;
    color:white;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px ;
    background-color: transparent;
}

#sign-up {
    border: none;
    background-color: #ffffff;
}

.accueil {
    background-image: url("../../img/favicon.png");
}

.login-space {
    background-color: white;
    display: block;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 300px;
    margin-left: 60em;
    margin-top: 15em;
    border-radius: 1em;

}
#signin-username , #signin-password {
    border: none;
    border-radius: 2px;
    background-color: whitesmoke;
    padding: 1em;
    margin: 5px;

} 

#signin-submit {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    padding: 1em;
    border-radius: 3px;
    background-color: #0aaf39;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
}

#sign-up {
    color: #fff;
    padding: 5px;
    background-color: #ffc13b;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
    text-decoration: none;
    
}


